@import "font-awesome/css/font-awesome.css";

@import "util";
@import "base";
@import "impress";

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step.past {
    opacity: 0.4;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0;
    .transition(~"opacity 1s");
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;
    width: 960px;
    height: 700px;
    padding: 20px;
    background-color: white;
    font-size: 30px;
    line-height: 36px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);

    h1, h2 {
        text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    }

    img {
        max-width: 100%;
    }

    &.centered {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;

        display: -moz-box;
        -moz-box-orient: vertical;
        -moz-box-pack: center;

        display: box;
        box-orient: vertical;
        box-pack: center;
    }

    .slide-icon {
        position: absolute;
        right: 0.25em;
        bottom: 0.25em;
    }

    .CodeMirror {
        height: auto;
        max-height: 700px-40px;
    }
}

@steps: `[1,2,3,4,5,6,7,8,9,10].map(function(s){return '.impress-supported .s'+s}).join(', ')`;
(~'@{steps}'){
    opacity: 0;
    .transition(~"all 1s");
}

@steps-on: `[1,2,3,4,5,6,7,8,9,10].map(function(s){return '.impress-supported .step-'+s+' .s'+s}).join(', ')`;
(~'@{steps-on}') {
    opacity: 1;
}


#intro {
    .devices {
        position: relative;
        font-size: 10em;
        margin-top: 0.3em;

        .icon-desktop      { color: #C9A074; font-size: 1em;    }
        .icon-laptop       { color: #57C7A8; font-size: 0.75em; }
        .icon-tablet       { color: #C7578D; font-size: 0.3em;  }
        .icon-mobile-phone { color: #9972C4; font-size: 0.1em;  }
    }
}

#definition {
    p {
        line-height: 1.6em;
    }

    .responsive-anim {
        position: absolute;
        font-size: 1.5em;
        left: 20%;
        margin-top: 6%;

        .icon-rotate-right { color: rgba(29, 184, 103, 0.7);}
    }

    strong {
        font-weight: normal;
        padding: 3px;
    }

    &.step-2 {
        strong {
            .transition(~'all 1s');
            color: #00BCF5;
            border-radius: 6px;
            font-weight: bold;
            background-color: #eee;
        }
    }
}

#not-mobile {
    text-align: center;
    [class*="icon-"] {
        color: #5D9FCA;
    }
}

#only-web {
  .icon-globe {
    color: #526DD8;
  }

  p.s2{
    color: #aaa;
  }
}

.icon-cogs {
    color: #007AFF;
}
.icon-css3 {
    color: #FF7A00;
}
.icon-th-list {
    color: #7A00FF;
}
.icon-picture {
    color: #FF007A;
}

#pillars {
    ul { margin-left: 2em;}
}

#modernizr{
    img{ max-width: 100%; }
}
#modernizr-2 {
    img{ max-width: 35%; }
}

#mq-atmedia {
    .mq {
        color: #FF7A00;
    }
}

.impress-supported #mq-atmedia{
    h1.s1,h1.s2,h1.s3,h1.base {
        position: absolute;
        top: 40%;
    }
}

#mq-breakpoints, #mq-breakpoints-2, #mq-breakpoints-3 {
    [class*="icon-"] {
        font-size: 1.2em;
        color: #FF7A00;
    }

    .breakpoints {
        td {
            padding: 2px;

            .mq {
                margin-left: 1em;
            }

            .hl {
                color: #FF7A00;
            }
        }
    }
}

#mq-features {
    .features {
        color: darken(#FF7A00, 20%);
        td {
            padding: 0.1em 0.5em;
        }
    }
}

#fg-table-layout {
    .image {
        border-radius: 5px;
        overflow: hidden;
        max-height: 70%;
        img {
            width: 100%;
        }
    }
}

#fg-many-options {
    text-align: center;
    .css-grid-fw {
        display: inline-block;
        width: (960px-40px)/4;
        li {
            margin-top: 0.5em;
            img {
                width: 100%;
            }
        }
    }
}

#ri-booya {
    .style { color: #FF007A;}
}

.impress-on-overview {
    .step[id*="intro"] {
        opacity: 1;
    }

    //Rotation flickering fix
    .step:not([data-rotate-y]),
    .step[data-rotate-y="0"] {
       opacity: 0;
    }
}
